.showCustomer {
	float: none;


}

.datos {
	padding: 10px;
	float: left;
	width: 250px;
	border-width: thin;
	border-color: #aaa;
	border-style: solid;
}

.extras {
	
	float: left;
	width: 600px;
}

.doctors {
	padding: 5px;
	padding-left: 20px;

}


.meds {
	padding: 5px;
	padding-left: 20px;

}

.alergies {
	padding: 5px;
	padding-left: 20px;

}


.contacts {
	padding: 5px;
	padding-left: 20px;


}
.profile {
	padding: 5px;
	padding-left: 20px;
}

table, td, th {
	border:1px solid #aaa;
	width: 600px;
	text-align:center;
	font-size: 12px;

}
th {
	background-color: #aaa;
	color:white;
}
td {
	
}